@page
@{
	ViewData["Title"] = "Blog: Article List";
}
<div>
	<h1>Article List</h1>
	<p><a asp-area="Blog" asp-page="/articles/article1">Article 1</a></p>
	<p><a asp-area="Blog" asp-page="/posts" asp-route-postid="1">Post 1</a></p>
</div>