name: Build-And-Test

on:
   push:
     branches: [ "master" ]
   pull_request:
     branches: [ "master" ]
   workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest #windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore ./src/AspNetStatic.sln
    - name: Build
      run: dotnet build ./src/AspNetStatic.sln -c Release --no-restore
    - name: Test
      run: dotnet test ./src/AspNetStatic.sln -c Release --no-build --verbosity normal
